//Color Variables
$accent: #040404;
$text-color: #fff;
$nav-color: #363636;
$nav-color-mob: #fff;
$gold: #9F6B08;
$bg: #fff;

//Burger color variables
$burger-fixed:#36363680;
$burger-bg: #363636;

/* Basic Styles */
body {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: $accent;
  background-color: $bg;
}

[class*="__big-container"] {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 930px;
}